<!DOCTYPE html>
<html lang="en">

<head>

    <title>SG Climbing Conversion Chart</title>
    {% block scripts %}{% endblock %}
</head>

<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">
               <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                        How does this work?
                    </button>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main') }}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ratings</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item"  href="{{ url_for('graph') }}">Ratings by gym</a>
                            <a class="dropdown-item" href="{{ url_for('orderedbar') }}">Ordered ratings</a>
                            <a class="dropdown-item" href="{{ url_for('rangebar') }}">Gym ranges</a>
                            <a class="dropdown-item" href="{{ url_for('scatter') }}">Scatter and box & whisker diagram</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <main id="content" class="pt-5">
        
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">SG Climbing Comparisons</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                    The ratings of each grade is determined purely from input responses provided by you, the climbing community.
                                    When you provide an answer to "Which is harder?" in the home page, the algorithm will update both the grades' ratings accordingly. 
                                    Therefore, the more responses from a wide range of climbers, the more accurate the ratings will be (comparatively to one another of course)!
                                    <p>
                                    Current algorithm being used is TrueSkills, derived from ELO rating commonly used to rank chess players and eSports athletes.
                                    </p>
                                    <p>All feedback, queries or suggestions are welcome! 
                                    </p>
                                    <p><a class="btn btn-primary" href="https://www.instagram.com/adileyzekmoon/">Contact me</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
            </div>
        </div>

        {% block content %}{% endblock %}
        
    </main>
    {% block js %}{% endblock %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
