{% extends 'base.html' %}

{% block scripts %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/color/jquery.color-2.2.0.js" integrity="sha256-gvMJWDHjgDrVSiN6eBI9h7dRfQmsTTsGU/eTT8vpzNg=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/978b63f316.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
{% endblock %}



{% block content %}
    <section id="quiz" class="pt-5">

            <div class="container-fluid">

                <div class="row">
                    <div class="col">
                        <h2 class="d-flex justify-content-center">SG Climbing Grades - Which is harder?</h2>
                        <h5 class="d-flex justify-content-center">Current number of responses: {{dataCount}}</h5>
                    </div>
                </div>
                
                <div class="row">

                    <div class="col">
                        <form class ="d-flex justify-content-center" method="post">
                            <fieldset class="w-100 d-flex justify-content-center">
                                <div class="container-fluid w-100">
                                    <div class="row mt-5">
                                        
                                        <div class="col-6">
                                            <div class="d-flex justify-content-center">
                                                <button type="submit" class="btn btn-secondary btn-lg btn-block" name="result" value="{{gradeA, gradeB}}">
                                                    <img src="{{url_for('static', filename=imageA)}}" alt="OS" style='height: 200px; width: 100%; object-fit: contain'>
                                                    <div style='font-size:4vw;'>{{gradeA}}</div>
                                                </button>
                                            </div>
                                            
                                        </div>
                                        
                                        <div class="col">
                                            <div class="d-flex justify-content-center">
                                                <button type="submit" class="btn btn-secondary btn-lg btn-block" name="result" value="{{gradeB, gradeA}}">
                                                    <img src="{{url_for('static', filename=imageB)}}" alt="OS" style='height: 200px; width: 100%; object-fit: contain'>
                                                    <div style='font-size:4vw;'>{{gradeB}}</div>
                                                </button>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="row d-flex justify-content-center mt-5 pb-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Onsight Climbing" name="gyms" value="Onsight Climbing" >
                                            <label class="form-check-label" for="Onsight Climbing">
                                                Onsight
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Boulder World" name="gyms" value="Boulder World">
                                            <label class="form-check-label" for="Boulder World">
                                                Boulder World
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Boulder Plus" name="gyms" value="Boulder Plus">
                                            <label class="form-check-label" for="Boulder Plus">
                                                Boulder Plus
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Lighthouse" name="gyms" value="Lighthouse">
                                            <label class="form-check-label" for="Lighthouse">
                                                Lighthouse
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Fit Bloc" name="gyms" value="Fit Bloc">
                                            <label class="form-check-label" for="Fit Bloc">
                                                Fit Bloc
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Climb Central" name="gyms" value="Climb Central">
                                            <label class="form-check-label" for="Climb Central">
                                                Climb Central
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="BFF Climb" name="gyms" value="BFF Climb">
                                            <label class="form-check-label" for="BFF Climb">
                                                BFF Climb
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Ground Up" name="gyms" value="Ground Up">
                                            <label class="form-check-label" for="Ground Up">
                                                Ground Up
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Kinetics" name="gyms" value="Kinetics">
                                            <label class="form-check-label" for="Kinetics">
                                                Kinetics
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center mt-3">
                                        <button type="submit" class="btn btn-secondary btn-lg btn-block w-100" name="result" value="SKIP">SKIP</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        
                    </div>
                    
                </div>
                {{test}}
                
            </div>
            
        </section>
{% endblock %}

{% block js %}
    <script>
        window.onload = function () {
            {{completeGymList | safe}}.forEach(element => {
                if ({{userGymList | safe}}.indexOf(element)>=0){
                    document.getElementById(element).checked = true;
                }   
            }
                                              )
            
        }
    </script>
{% endblock %}