<!DOCTYPE html>
<html lang="en">

<head>

    <title>SG Climbing Conversion Chart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/color/jquery.color-2.2.0.js" integrity="sha256-gvMJWDHjgDrVSiN6eBI9h7dRfQmsTTsGU/eTT8vpzNg=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/978b63f316.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">
               {{dataCount}}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('graph') }}">Ratings</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="#bio">Conversion Chart</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Links</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://www.facebook.com/Adil-Azmoon-374304659771994/" target="_blank"><i class="fa fa-facebook-square"></i></a>
                            <a class="dropdown-item" href="https://www.linkedin.com/in/adileyzekmoon/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                            <a class="dropdown-item" href="https://www.instagram.com/adileyzekmoon/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a class="dropdown-item" href="https://github.com/adileyzekmoon" target="_blank"><i class="fa fa-github"></i></a>
                        </div>
                    </li>
-->
                </ul>
            </div>
        </nav>

    </header>

    <main id="content" class="pt-5">

        <section id="quiz" class="pt-5">



            <div class="container-fluid">

                <div class="row">
                    <div class="col">
                        <h2 class="d-flex justify-content-center">SG Climbing Grades - Which is harder?</h2>
                    </div>
                </div>
                
                <div class="row">

                    <div class="col">
                        <form class ="d-flex justify-content-center" method="post">
                            <fieldset class="w-100 d-flex justify-content-center">
                                <div class="container-fluid w-100">
                                    <div class="row mt-5">
                                        
                                        <div class="col-6">
                                            <div class="d-flex justify-content-center">
                                                <button type="submit" class="btn btn-secondary btn-lg btn-block" name="result" value="{{gradeA, gradeB}}">
                                                    <img src="{{url_for('static', filename=imageA)}}" alt="OS" style='height: 200px; width: 100%; object-fit: contain'>
                                                    <div style='font-size:4vw;'>{{gradeA}}</div>
                                                </button>
                                            </div>
                                            
                                        </div>
                                        
                                        <div class="col">
                                            <div class="d-flex justify-content-center">
                                                <button type="submit" class="btn btn-secondary btn-lg btn-block" name="result" value="{{gradeB, gradeA}}">
                                                    <img src="{{url_for('static', filename=imageB)}}" alt="OS" style='height: 200px; width: 100%; object-fit: contain'>
                                                    <div style='font-size:4vw;'>{{gradeB}}</div>
                                                </button>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="row d-flex justify-content-center mt-5 pb-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Onsight Climbing" name="gyms" value="Onsight Climbing" >
                                            <label class="form-check-label" for="Onsight Climbing">
                                                Onsight
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Boulder World" name="gyms" value="Boulder World">
                                            <label class="form-check-label" for="Boulder World">
                                                Boulder World
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Boulder Plus" name="gyms" value="Boulder Plus">
                                            <label class="form-check-label" for="Boulder Plus">
                                                Boulder Plus
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Lighthouse" name="gyms" value="Lighthouse">
                                            <label class="form-check-label" for="Lighthouse">
                                                Lighthouse
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Fit Bloc" name="gyms" value="Fit Bloc">
                                            <label class="form-check-label" for="Fit Bloc">
                                                Fit Bloc
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Climb Central" name="gyms" value="Climb Central">
                                            <label class="form-check-label" for="Climb Central">
                                                Climb Central
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="BFF Climb" name="gyms" value="BFF Climb">
                                            <label class="form-check-label" for="BFF Climb">
                                                BFF Climb
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Ground Up" name="gyms" value="Ground Up">
                                            <label class="form-check-label" for="Ground Up">
                                                Ground Up
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Kinetics" name="gyms" value="Kinetics">
                                            <label class="form-check-label" for="Kinetics">
                                                Kinetics
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center mt-3">
                                        <button type="submit" class="btn btn-secondary btn-lg btn-block w-100" name="result" value="SKIP">SKIP</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </section>
        
    </main>
    <script>
        window.onload = function () {
            {{completeGymList | safe}}.forEach(element => {
                if ({{userGymList | safe}}.indexOf(element)>=0){
                    document.getElementById(element).checked = true;
                }   
            }
                                              )
            
        }
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
