<!DOCTYPE html>
<html lang="en">

<head>

    <title>SG Climbing Conversion Chart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/color/jquery.color-2.2.0.js" integrity="sha256-gvMJWDHjgDrVSiN6eBI9h7dRfQmsTTsGU/eTT8vpzNg=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/978b63f316.js" crossorigin="anonymous"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>




    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                    How does this work?
                </button>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('graph') }}">Ratings</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <main id="content" class="pt-5">


        <section id="chart" class="pt-5">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">SG Climbing Comparisons</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        The ratings of each grade is determined purely from input responses provided by you, the climbing community.
                                        When you provide an answer to "Which is harder?" in the home page, the algorithm will update both the grades' ratings accordingly.
                                        Therefore, the more responses from a wide range of climbers, the more accurate the ratings will be (comparatively to one another of course)!
                                        <p>
                                            Current algorithm being used is TrueSkills, derived from ELO rating commonly used to rank chess players and eSports athletes.
                                        </p>
                                        <p>All feedback, queries or suggestions are welcome!
                                        </p>
                                        <p><a class="btn btn-primary" href="https://www.instagram.com/adileyzekmoon/">Contact me</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="chartContainer" style="width: 100%;"></div>
                </div>
            </div>


        </section>

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




    <script>
        window.onload = function() {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                height:700,
                exportEnabled: true,

                
                
                axisX:{
                    interval: 1,
                    labelFormatter: function(){
                        return " ";}
                },
                axisY2:{
                    interval: 5,
                    interlacedColor: "rgba(1,77,101,.2)",
                    gridColor: "rgba(1,77,101,.1)",
                    title: "Ratings",
                    crosshair: {
                        enabled: true,
                        labelBackgroundColor:"grey",
                    }
                    
                },
                legend: {
                    cursor:"pointer",
                    itemclick : toggleDataSeries
                },
                data: [{
                    type: "bar",
                    showInLegend: true, 
                    name: "Grades",
                    axisYType: "secondary",
                    color: "#ee2b26",
                    dataPoints: {{data | safe}}
                       }]
            });
            chart.render();
            
            function toggleDataSeries(e) {
                if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                }
                else {
                    e.dataSeries.visible = true;
                }
                chart.render();
            }
        }

    </script>

</body>

</html>
