{% extends 'base.html' %}

{% block scripts %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/color/jquery.color-2.2.0.js" integrity="sha256-gvMJWDHjgDrVSiN6eBI9h7dRfQmsTTsGU/eTT8vpzNg=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/978b63f316.js" crossorigin="anonymous"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>




    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
{% endblock %}


{% block content %}
    <section id="chart" class="pt-5">
            <div class="container-fluid">

                <div class="row">
                    <div id="chartContainer" style="width: 100%;"></div>
                </div>
            </div>


        </section>
{% endblock %}

{% block js %}
    <script>
        window.onload = function() {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                exportEnabled: true,
                axisX: {
                    title: "Boulder Gyms"
                },
                axisY: {
                    title: "Ratings",
                    interval: 10,
                },
                data: [{
                    type: "rangeBar",
                    showInLegend: true,
                    yValueFormatString:"#0.#",
                    indexLabel: "{y[#index]}",
                    legendText: " ",
                    toolTipContent: "<b>{label}</b>: {y[0]} to {y[1]}",
                    dataPoints: [{
                            x: 1,
                            y: {{os}},
                            label: "Onsight Climbing"
                        },
                        {
                            x: 2,
                            y: {{bw}},
                            label: "Boulder World"
                        },
                        {
                            x: 3,
                            y: {{lh}},
                            label: "Lighthouse"
                        },
                        {
                            x: 4,
                            y: {{bp}},
                            label: "Boulder Plus"
                        },
                        {
                            x: 5,
                            y: {{fb}},
                            label: "Fit Bloc"
                        },
                        {
                            x: 6,
                            y: {{cc}},
                            label: "Climb Central"
                        },
                        {
                            x: 7,
                            y: {{bff}},
                            label: "BFF Climb"
                        },
                        {
                            x: 8,
                            y: {{gu}},
                            label: "Ground Up"
                        },
                        {
                            x: 9,
                            y: {{k}},
                            label: "Kinetics"
                        }
                    ]
                }
                      ]
            });
            chart.render();
        }

    </script>
{% endblock %}